@page
@model IndexModel
@{
    ViewData["Title"] = "О сервисе";
}

<div class="text-center">
    <h1>DO IT - Сделай шаг к своему будущему </h1>
</div>

<div class="text-service">
    <p>"Do it" - это передовой сервис, созданный для студентов, аспирантов и преподавателей, который обеспечивает удобный доступ к материалам лекций и другим обучающим ресурсам. </p>
    <span class="opportunities">Возможности: </span>

    <ul>
        <li>  Обширная библиотека лекций: Сервис содержит записи лекций по различным дисциплинам, что позволяет найти нужный материал в считанные секунды.</li>
        <li> Удобный поиск: Поиск по  названию курса позволяет быстро и легко найти нужный контент.</li>
        <li> Различные форматы: Лекции доступны в различных форматах, включая аудио, текстовые транскрипции и презентации.</li>
    </ul>
   
</div>