@page
@model IteamModel
@{
    ViewData["Title"] = "Предметы";
}

<div class="iteams-popular">
    <h1>Популярные курсы </h1>

    <div class="popular-item">
      
        <span class="window">
            <p>
                <a class="nav-link text-dark" asp-area="" asp-page="/Example_Item">Математический анализ</a>
                <span class="info">
                    Раздел математики, в котором переменные величины (функции и их обобщения) изучаются с использованием пределов.

                </span>
            </p>
        </span>

        <span class="window">
        <p>
            <a class="nav-link text-dark" asp-area="" asp-page="/Example_Item">История</a>
            <span class="info">
                История — общий термин, описывающий как события прошлого, так и память о прошлом, нахождение, сбор и интерпретацию сведений об этих событиях.
                
            </span>
        </p>
        </span>
        <span class="window">
        <p>
            <a class="nav-link text-dark" asp-area="" asp-page="/Example_Item">Физика</a>
            <span class="info">
                Физика — это наука о природе (естествознание) в самом общем смысле (часть природоведения). Предмет её изучения составляет материя (в виде вещества и полей) и наиболее общие формы её движения,
                а также фундаментальные взаимодействия природы, управляющие движением материи.
            
            </span>
        </p>
        </span>
        <span class="window">
        <p>
            <a class="nav-link text-dark" asp-area="" asp-page="/Example_Item">Химия</a>
            <span class="info">
                Химия – это наука о веществах и их превращениях. Она изучает состав и строение веществ, зависимость их свойств от строения, условия и способы превращения одних веществ в другие.
            </span>
        </p>
        </span>
        <span class="window">
        <p>
            <a class="nav-link text-dark" asp-area="" asp-page="/Example_Item">Информатика</a>
            <span class="info">
                Наука о методах и процессах сбора, хранения, обработки, передачи, анализа и оценки информации с применением компьютерных технологий.
            </span>
        </p>
        </span>
    </div>
   
</div>




<div class="iteams-all">
    <h1>Доступные курсы </h1>

    <form>
        <p>
            Введите название курса: <input type="text" asp-for="SearchString" />
            <input type="submit" value="Поиск" />
        </p>
    </form>

    <span class="list-item">
        <p>
            <ul>
                <li class ="list-item-un"><a class="nav-link text-dark" asp-area="" asp-page="/Example_Item">Информатика</a></li>
                <li class="list-item-un"> <a class="nav-link text-dark" asp-area="" asp-page="/Example_Item">Химия</a></li>
                <li class="list-item-un">  <a class="nav-link text-dark" asp-area="" asp-page="/Example_Item">Физика</a></li>
                <li class="list-item-un">  <a class="nav-link text-dark" asp-area="" asp-page="/Example_Item">История</a></li>
                <li class="list-item-un">  <a class="nav-link text-dark" asp-area="" asp-page="/Example_Item">Математический анализ</a></li>
                <li class="list-item-un">  <a class="nav-link text-dark" asp-area="" asp-page="/Example_Item">Программирование</a></li>
                <li class="list-item-un">  <a class="nav-link text-dark" asp-area="" asp-page="/Example_Item">Английский язык</a></li>
                <li class="list-item-un">  <a class="nav-link text-dark" asp-area="" asp-page="/Example_Item">Немецкий язык</a></li>
            </ul>
        </p>
    </span>

</div>



