html {
  font-size: 10px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    
}

.text-service {
    font-size: 25px;
    margin: 10px;
    
}

.navbar-brand {
    font-size: 50px;
    color: black;
    font-weight: bolder;
}

.color-i {
    color: aqua;
}

.opportunities {
    font-weight: bold;
}

.text-center {
    background-color: lightgray;
    font-weight: bolder;
    border-radius: 10px;
    border: 1em solid lightgray;
}

.container-footer {
    background-color: lightgray;
    color: black;
    font-weight: bold;
    text-align: center
}